.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  background-color: #e0ffe0; /* Light green background color */
  padding: 20px; /* Optional: Add padding to give some space around the content */
  height: 105vh; /* Optionally set height to viewport height */

}

.grid-pattern {
  background-color: #112933; /* Dark green background color */
  background-image:
    radial-gradient(circle at 10% 20%, #00ffbf, transparent 10%),
    radial-gradient(circle at 80% 70%, #b2ff66, transparent 10%),
    radial-gradient(circle at 50% 50%, #ffffff, #112933 70%);
  background-size: 150px 150px; /* Adjust size of tech elements */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}